
cite:only-of-type
{background-color:red;}
blockquote {text-align:justify;
            max-width:50%;





                    }
body p:firstchild {font-weight:heavy;}

tr:nth-child(odd)
{background-color:grey;}

tr:nth-child(even)
{background-color:white;}


.Bad {color:red;
        text-transform: capitalize}

.Good {color:green;


    text-transform: capitalize}

body {
    margin:auto%;
    max-width:90%;
    background-image:linear-gradient(to bottom, goldenrod, orange, orangered, red, darkred)
                    }

.farmer {border-left:deepskyblue solid 3px}

p {
    color: darkslategrey;
    word-spacing: "em";
    font-family: serif;
    }

a {
    color: green;
    font-family: "Arial Black";
    font-weight: bolder;
    }

q {
    border-left:crimson solid 3px;
    display: block;
    text-align: center;
    width:50%;
    font-size:160%;
    background-color:lightgrey;


    margin:auto;
    margin-top:80px;
    margin-bottom:80px;



    }


margin-top:80px;
margin-bottom:80px;
align-content: center;
background-image: