

body {




    margin-left:25%;
    margin-right:10%;
    font-family: 'Baskerville', serif;}


cite:only-of-type
{background-color:red;}
blockquote {text-align:justify;
            max-width:50%;
}
/* article {font-family: 'Indie Flower', cursive;} */



/*.notworking {font-family: 'Indie Flower', cursive;}
a {font-family: 'Indie Flower', cursive;}
p {font-family: 'Indie Flower', cursive;}
*/
img {float:left;
       width:30%;
        margin-right:30px}

body p:first-child {font-weight:bold;}

tr:nth-child(odd)
{background-color:grey;}

tr:nth-child(even)
{background-color:white;}


.Bad {color: red;
        text-transform: capitalize}

.Good {color:green;


    text-transform: capitalize}

body {
    margin:auto;
    max-width:90%;
    background-color: moccasin;
   /* background-image:linear-gradient(to bottom, goldenrod, orange, orangered, red, darkred)*/
                    }

.farmer {border-left:deepskyblue solid 3px;/*font-family: 'Indie Flower', cursive;*/}
.villagers {border-left:darkred solid 3px;/*font-family: 'Indie Flower', cursive;*/}
/* p {

  /*  font-family: 'Indie Flower', cursive;*/
    /*color: darkslategrey; */

/*}*/



a {
    color: green;

    font-weight: bolder;
    }


/*q {
    border-left:crimson solid 3px;
    display: block;
    text-align: center;
    width:50%;
    font-size:160%;
    background-color:lightgrey;


    margin:auto;
    margin-top:80px;
    margin-bottom:80px;



    }


margin-top:80px;
margin-bottom:80px;
align-content: center;
background-image:


 */